/* themePage.css */

/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 100~900; */
  font-style: normal;
}

.gmarket-sans {
  font-family: "GmarketSans"
}

/* css */

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration-line: none;
}

/* ! header */

.header {
  position: fixed;
  width: 100%;
  height: 6rem;
  padding: 0;
  margin: 0;
  text-align: justify;
  color: black;
  background-color: rgb(255, 255, 255, 0.7);

}

.header a:link, .header a:visited {
  color: black;
}

.header-wrapper {
  margin: auto;
  text-align: center;
  align-items: center;
}

.header-ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-ul .logo {
  display: flex;
  margin: 1.5rem;
  margin-left: 2rem;
  font-family: "GmarketSans";
  font-size: 30px;
  font-weight: 800;
}

.header-ul-left {
  display: flex;
  align-items: flex-start;
  font-weight: 500;
}

.header-ul-left li {
  width: 80px;
  margin: 1.5rem;
}

.header-ul-left li a:hover {
  font-weight: 800;
}

.header-ul-right {
  display: flex;
  align-items: flex-start;
  margin-right: 5rem;
}

.header-ul-right li {
  margin: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.header-ul-right li img {
  width: 16px;
}

/* themePage contents */

.container {
  padding: 0;
  margin: 0 auto;
}

.top-contents {
  /* width: 100rem; */
  justify-content: center;
}

.background-color {
  width: 100%;
  height: 50rem;
  background-color: rgb(187, 243, 253);
}

/* ========================================= */

/* slider */

.top-contents {
  margin-top: -35rem;
}

.slider-wrapper {
  /* border: 2px solid black; */
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.slider-wrapper > .slider-images {
  overflow: hidden;
}

.slider-wrapper > .slider-images .slider-inner{
  position: relative;
  transition: 0.5s;
}

.slider-wrapper > .slider-images .slider-inner div {
  float: left;
}

.slider-wrapper > .slider-images img {
  vertical-align: top;
}

.slider-wrapper .arrow > a {
  display: block;
  width: 25px; /* 버튼의 크기 조정 */
  height: 25px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s; /* 호버 및 포커스 시 애니메이션 추가 */
}

.slider-wrapper .arrow > a.prev {
  position: absolute;
  left: -7%;
  top: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .arrow > a.next {
  position: absolute;
  right: -7%;
  top: 50%;
  transform: translateY(-50%);
}

.prev-img, .next-img {
  width: 25px;
}

/* contents */

.wrapper {
  margin-top: 10rem;
}
.wrapper div {
  text-align: center;
  margin: 0 auto;
}

/* con-nav */
.con-nav {
  border: 1px solid red;
  width: 900px;
}

.con-ul {
  display: flex;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 90%;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px; 
  border-radius: 30px;
}

.con-ul li {
  width: 100px;
  margin: 0 2rem;
}

li button {
  font-family: "GmarketSans";
  margin: 0 auto;
  width: 120px;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 500;
  color: black;
  border-radius: 25px;
  border: 0px;
}

li button:hover {
  font-weight: bolder;
}

/* con-nav 아래 div 태그 숨기기 */
.beach, .mountain, .history, .activity {
  display: none;
}

.con-box {
  border: 1px solid black;
  display: flex;
  padding: 30px;
  width: 800px;
}

.forest-con, .beach-con, .mountain-con, .history-con, .activity-con {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.forest-con-top, .forest-con-bottom,
.beach-con-top, .beach-con-bottom,
.mountain-con-top, .mountain-con-bottom,
.history-con-top, .history-con-bottom,
.activity-con-top, .activity-con-bottom {
  display: flex;
  justify-content: space-between;
}

.forest-con-top > div,
.forest-con-bottom > div,
.beach-con-top > div,
.beach-con-bottom > div,
.mountain-con-top > div,
.mountain-con-bottom > div,
.history-con-top > div,
.history-con-bottom > div,
.activity-con-top > div,
.activity-con-bottom > div {
  flex: 1; 
  /* 너비를 동일하게 */
  padding: 10px;
  margin-bottom: 5px;
}

