div {
  border: 1px solid #ccc; /* div 요소에 테두리 표시 */
}

#container {
  width: 960px;
  padding: 20px;
  margin: 0 auto;
}

#header {
  padding: 20px;
  margin-bottom: 20px;
}

#contents {
  width: 600px;
  float: left;
  margin-bottom: 20px;
}

#left-sidebar {
  width: 150px;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

#right-sidebar {
  width: 150px;
  float: right;
  margin-bottom: 20px;
}

#footer {
  clear: both;
}